<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeeybook.whattoon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="왓툰"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter> <!--이게 첫 화면임-->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Rating.RatingActivity1" />
        <activity android:name=".Rating.RatingActivity2"/>
        <activity android:name=".Rating.RatingActivity3"/>
        <activity android:name=".Rating.RatingActivity4"/>
        <activity android:name=".Rating.RatingActivity5"/>
        <activity android:name=".JoinActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".BottomActivity" />
    </application>

</manifest>